.contenitoreScheduleContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90vh;
    border-radius: 20px;
    background-color: rgba(242, 242, 242, 0.76);
    margin: 2px;
    overflow-y: scroll;
}
.contenitoreScheduleContent> * {
    margin: 20px;
}

.contenitoreScheduleContent::-webkit-scrollbar {
    display: none;
}

.containerInputAggiungiVisita{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerSingoloInputAggiungiVisita{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dataPicker{
    height: 30px;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: #282c34;
    width: 80%;
    font-weight: bolder;
    font-family: "Questrial", sans-serif;
    border: none;
    padding: 5px;
}

.aggiungiBottoneVisita{
    width: 200px;
    height: 45px;
    font-family: "Questrial", sans-serif;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #37a69b;
    border-radius: 5px;
}

.contenitoreDatiVisita{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.centerItem{
    display: flex;
    justify-content: center;
}

.iconaVisita{
    font-size: 30px;
}

.divContieneIDati{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.datoVisita{
    font-family: "Questrial", sans-serif;
}

.grassetto{
    font-family: "Questrial", sans-serif;
    font-weight: bolder;
}

.labelInputAggiungiVisita{
    font-family: "Questrial", sans-serif;
}

.bottoneAggiungiVisita{
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 2em;
    font-weight: bold;
    border: 1px solid #37a69b ;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #37a69b;
    text-align: center;
    cursor: pointer;
}

.logoMenu {
    width: 80%;
    height: auto;
    padding-top: 30px;
}

.searchbar {
    display: flex;
    justify-content: left;
}

#search {
    width: 60vh;
    margin-right: 5vh;
    font-size: 25px;
    background-color: rgba(242, 242, 242, 0.76);
    border: 2px solid #37a69b;
    -webkit-box-shadow: 7px 7px 28px -11px rgba(0, 0, 0, 0.57);
    box-shadow: 7px 7px 28px -11px rgba(0, 0, 0, 0.57);
    border-radius: 10px;
}

.iTuoiPazienti{
    font-size: 33px;font-family: "Questrial", sans-serif;
}

.bentornato{
    font-family: "Questrial", sans-serif;
    font-size: 43px;
}

@media only screen and (max-width: 767px) {
    .bentornato{
        font-family: "Questrial", sans-serif;
        font-size: 23px;
    }

    .contenitoreScheduleContent{
        width: 90%;
    }

    .contenitoreScheduleContent > *{
        margin:5%;
    }

    .container-visita{
        margin-top: 0px;
        margin-left: 5%;
        width: 90%;

    }

    .iTuoiPazienti{
        font-size: 18px;
        margin-left:5%;
        margin-bottom: 10px;
        font-family: "Questrial", sans-serif;
    }
}