.cardUtente{
    width: 30%;
    border-radius: 10px;
    border: 2px solid #37a69b;
    height: 300px;
    -webkit-box-shadow: 7px 7px 28px -11px rgba(0, 0, 0, 0.57);
    box-shadow: 7px 7px 28px -11px rgba(0, 0, 0, 0.57);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #f2f2f2;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    -webkit-transition: height .3s;
    transition: height .3s;
}

.cardPazienteHomeMedico{
    border-radius: 10px;
    border: 2px solid #37a69b;
    -webkit-box-shadow: 7px 7px 28px -11px rgba(0, 0, 0, 0.57);
    box-shadow: 7px 7px 28px -11px rgba(0, 0, 0, 0.57);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #f2f2f2;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    -webkit-transition: height .3s;
    transition: height .3s;
}

.nomeUtente{
    font-family: "Cambay Devanagari Regular";
    font-weight: bolder;
    letter-spacing: 0.7px;
    font-size: 25px;
}

.contenitorePulsantiUtenteCard{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 5px;
}

.iconaUtente{
    width: 50px;
    height: auto;
}

.button {
    height: 42px;
    width: 100%;
    border: 2px solid #697f8c;
    border-radius: 10px 10px;
    font-family: "Questrial", sans-serif;
    font-size: 18px;
}

.contenitoreInformazioniUtenteCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.informazioneUtente{
    font-family: "Questrial", sans-serif;
    font-size: 15px;
    margin: 5px;
}

.altreInfoUtente{
    display: none;
}

@media only screen and (max-width: 767px) {
    .cardUtente{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .cardPazienteHomeMedico{
        width: 88%;
        margin-left: 2%;
        height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .informazioneUtente{
        font-size: 12px;
    }

    .button {
        height: 25px;
        width: 100%;
        font-size: 15px;
    }

    .linea-visita{
        display: none;
    }

    .contenitoreInformazioniUtenteCard{display: none}

    .contenitorePulsantiUtenteCard{display: none}

    .altreInfoUtente{
        display: flex;
    }

    .nomeUtente{
        letter-spacing: 0.4px;
        font-weight: bolder;
        font-size: 19px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
    .cardUtente{
        width: 44%;
        height: 250px;
    }
    .informazioneUtente{
        font-size: 15px;
    }

    .button {
        height: 30px;
        width: 45%;
        font-size: 12px;
    }

    .nomeUtente{
        letter-spacing: 0.4px;
        font-weight: bolder;
        font-size: 25px;
    }
}