.contenitoreFascicoloContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90vh;
    border-radius: 20px;
    background-color: rgba(242, 242, 242, 0.76);
    margin: 2px;
    overflow-y: scroll;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(45, 45, 45);
    border: 2px solid #37a69b;
    margin:0px;
    margin-left: 5%;
    height: 13%;
    border-radius: 15px 15px;
    flex-wrap: wrap;
}

.bannerFascicolo{
    width: 90%;
}

.mainContentFascicolo{
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.testo-banner {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.testo-banner-numero {
    margin-top: 5px;
    color: hsl(174, 50%, 44%);
    font-size: 25px;
}

.blocco-testo-banner {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.contenitoreFascicoloContent > *{
    margin-left: 5%;
}

@media only screen and (max-width: 767px) {
    .container-sinistra{
        align-items: center;
    }

    .contenitoreFascicoloContent {
        width: 90%;
    }

    .banner {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
        height: 150px;
        padding-bottom: 10px ;
    }

    .blocco-testo-banner{
        width: 100%;
    }

    .testo-banner{
        font-size: 15px;
        font-family: "Questrial", sans-serif;
    }

    .testo-banner-numero{
        font-size: 15px;font-family: "Questrial", sans-serif;
    }
}