.contenitoreFascicoloContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90vh;
    border-radius: 20px;
    background-color: rgba(242, 242, 242, 0.76);
    margin: 2px;
    overflow-y: scroll;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(45, 45, 45);
    margin: 10px 40px 0px 40px;
    height: 13%;
    border-radius: 15px 15px;
    flex-wrap: wrap;
}

.testo-banner {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.testo-banner-numero {
    margin-top: 5px;
    color: hsl(174, 50%, 44%);
    font-size: 25px;
}

.blocco-testo-banner {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}