@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Questrial&display=swap");

.container-sinistra {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.searchbar {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-left: 40px;
}

/*parte interna della searchbar*/
#search {
  padding-left: 5px;
  height: 6vh;
  font-family: "Questrial", sans-serif;
}

#search:focus {
  outline: none;
  border: 3px solid #37a69b;
  -webkit-box-shadow: 7px 7px 28px -11px rgba(0, 0, 0, 1);
  box-shadow: 7px 7px 28px -11px rgba(0, 0, 0, 1);
}

/*span del testo che si trova in alto*/
.testo-bentornat {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 40px;
  font-family: "Questrial", sans-serif;
  font-size: 38px;
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: rgb(45, 45, 45);
  margin: 10px 40px 0px 40px;
  height: 13%;
  border-radius: 15px 15px;
  flex-wrap: wrap;
}

.testo-banner {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 22px;
}

.testo-banner-numero {
  margin-top: 5px;
  color: hsl(174, 50%, 44%);
  font-size: 25px;
}

.blocco-testo-banner {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

/*è l'intera sezione in cui ci sono le visite
  non confondere con box-visite, 
  questo è il div + esterno.
*/
.visite-container {
  background-color: rgba(242, 242, 242, 0.6);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px 40px;
  border: 2px solid hsl(174, 50%, 44%);
  border-radius: 20px 20px;

  overflow-x: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.visite-container::-webkit-scrollbar {
  display: none;
}

/*testo "visite in programma"*/
.visite-in-programma {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "Questrial", sans-serif;
  font-size: 40px;
}

/*è la parte che continene solamente le card visite.*/
.box-visite {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  column-gap: 20px;
  padding-left: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.note-container {
  display: flex;
  margin-top: 10px;
  color: black;
  flex-direction: row;
}

.full-container {
  display: flex;
  height: 100%;
}
