.contenitoreAboutContent{
    display : flex;
    flex-direction: row;
    width: 80%;
    height: 90vh;
    border-radius: 20px;
    background-color: rgba(242, 242, 242, 0.76);
    margin:2px;
    overflow: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.systemGoal{
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
    width: 40%;
    height: 70%;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #37a69b;
}

.titolo{
    font-size: 33px;font-family: "Questrial", sans-serif;
}

.paragrafo{
    font-family: "Questrial", sans-serif;
    line-height: 2;
}

.grassetto{
    font-weight: bolder;
}

.contenitoreAboutContent::-webkit-scrollbar {
    display: none;
}

.systemGoal::-webkit-scrollbar {
    display: none;
}

.footer-about{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.footer-element{
    font-family: "Questrial", sans-serif;
    cursor: pointer;
}

.lineaMenuAbout {
    width: 97%;
    border: none;
    border-top: 1px solid rgba(105, 127, 140, 0.6);
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    height: 1px;
}

.bloccoTestoSystemGoal{
    overflow-y: scroll;
}

@media only screen and (max-width: 767px) {
    .titolo{
        font-size: 20px;font-family: "Questrial", sans-serif;
    }

    .footer-element{
        font-size: 17px;font-family: "Questrial", sans-serif;
        cursor: pointer;
    }

    .systemGoal{
        display: flex;
        width: 60%;
    }

    .contenitoreAboutContent{
        width: 90%;
        align-content: flex-start;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1250px) {
    .systemGoal{
        display: flex;
        width: 60%;
    }

    .contenitoreAboutContent{
        width: 90%;
        align-content: flex-start;
    }

    .footer-element{
        font-size: 22px;font-family: "Questrial", sans-serif;
        cursor: pointer;
    }

    .titolo{
        font-size: 28px;font-family: "Questrial", sans-serif;
    }
}

