@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url('fonts/OpenSans-VariableFont_wdth,wght.ttf') format('woff');
}

.contenitoreMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 90vh;
  border-radius: 20px;
  background-color: rgba(242, 242, 242, 0.76);
  margin: 2px;
}

.contenitoreLogoMenu {
  display: flex;
  height: 20vh;
}

.logoMenu {
  width: 80%;
  height: auto;
  padding-top: 30px;
}

.contenitoreVociMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  gap: 30px;
  font-family: 'Open Sans', sans-serif  !important;
}

.voceMenu {
  width: 100%;
  height: 50px;
  transition: 0.3s;
  color: #37a69b;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: 25px;
}

.voceMenuActive{
  background-color: #37a69b;
  color: #f2f2f2;
  -webkit-box-shadow: 2px 2px 14px -1px rgba(0, 0, 0, 0.56);
  box-shadow: 2px 2px 14px -1px rgba(0, 0, 0, 0.56);
}

.voceMenu:hover {
  background-color: #37a69b;
  color: #f2f2f2;
  -webkit-box-shadow: 2px 2px 14px -1px rgba(0, 0, 0, 0.56);
  box-shadow: 2px 2px 14px -1px rgba(0, 0, 0, 0.56);
}

.voceMenuText{
  list-style-type: none;
  text-decoration: none;
  color:inherit;
  width: 80%;
}

.iconaMenu {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.lineaMenu {
  width: 70%;
  border: 1px solid #37a69b;
}
