.contenitoreMainContent{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 90vh;
    border-radius: 20px;
    background-color: rgba(242, 242, 242, 0.76);
    margin:2px;
}